@{
    ViewBag.Title = "Error";
}

<h3 class="text-danger"> Something went wrong.</h3>

<p> If you are adding a transaction please check that the transaction number is unique. Otherwise contact an administrator. </p>

@Html.ActionLink("Back", "Index")

